
<header class="fixed-top shadow">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark pt-3 pb-3 color-primario">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold pt-0 pb-0" routerLink="/"><img class="logo ms-3" src="/assets/img/logo.svg" alt="logo Kontrola"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarPrincipal" aria-controls="navbarPrincipal" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end color-primario text-white" tabindex="-1" id="navbarPrincipal" aria-labelledby="navbarPrincipalLabel">
        <div class="offcanvas-header border-bottom border-secondary">
          <h5 class="offcanvas-title" id="navbarPrincipalLabel"><img class="logo" src="/assets/img/logo.svg" alt="logo Kontrola"></h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item" *ngIf="!isHome">
              <a class="nav-link" [routerLink]="ROUTES.HOME" data-bs-dismiss="offcanvas">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="irASoluciones()" data-bs-dismiss="offcanvas">Soluciones </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="irAServicios()" data-bs-dismiss="offcanvas">Servicios </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="irAMantenemos()" data-bs-dismiss="offcanvas"> Mantenimiento </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="irAProyectos()" data-bs-dismiss="offcanvas"> Proyectos </a>
            </li>
          <!--  <li class="nav-item">
              <a class="nav-link"  [routerLink]="['/industria']" data-bs-dismiss="offcanvas">Industria</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/construccion']" data-bs-dismiss="offcanvas">Construcción</a>
            </li>-->
            <li class="nav-item">
              <a class="nav-link" (click)="irAClientes()" data-bs-dismiss="offcanvas"> Clientes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="irAContacto()" data-bs-dismiss="offcanvas">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

   <!--<div class="sub-nav d-flex justify-content-end align-items-center py-1 color-oscuro">
   <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/vigilancia']" >VIDEOVIGILANCIA</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/ruta-construccion']" >CABLEADO ESTRUCTURADO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/ruta-industria']" >CONTROL DE ACCESO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/ruta-construccion']" >DETECCIÓN DE INCENDIO</a>
      </li>
    </ul>
  </div>-->

</header>

<div class="header-padding"></div>
