<app-boton-whats></app-boton-whats>
<div class="container text-center my-5">
  <div class="shield-icon mb-3">🛡️</div>
  <h2>Mantenimiento.</h2>
  <p class="lead text-muted">Quitamos esas piedritas en el zapato, que si las juntas son GRANDES retos.</p>
</div>

<div class="container mb-5">
  <div class="row">
    <div class="col-lg-4 mb-4">
      <div class="card h-100 text-center shadow-sm">
        <div class="card-body d-flex flex-column">
          <h4 class="card-subtitle mb-2 text-muted">Preventivo</h4>
      
          <div class="text-start benefits-list">
             
            <ul>
              <li>Aseguramos la operación continua y el rendimiento óptimo de tus equipos. Nuestros planes programados están diseñados para anticipar fallas, reducir costos inesperados y extender la vida útil de tu inversión.</li>
            </ul>
          </div>
          <p class="text-muted mt-auto mb-3"><small>*Aplican terminos y condiciones</small></p>
          <button  onclick="window.open('https://wa.me/7292592585?text=Hola%2C%20me%20interesa%20cotizar%20un%20sistema%20para%20mi%20industria', '_blank')" class="btn btn-primary">Cotiza.</button> 
        </div>
      </div>
    </div>

    <div class="col-lg-4 mb-4">
      <div class="card h-100 text-center shadow-sm">
        <div class="card-body d-flex flex-column">
          <h4 class="card-subtitle mb-2 text-muted">Correctivo</h4>

          <div class="text-start benefits-list">
             
            <ul>
              <li>Cuando ocurre un imprevisto, nuestro equipo de expertos está listo para actuar. Diagnosticamos y resolvemos fallas de manera rápida y eficiente para restaurar la operatividad de tus sistemas en el menor tiempo posible.</li>
            </ul>
          </div>
          <p class="text-muted mt-auto mb-3"><small>*Aplican terminos y condiciones</small></p>
          <button  onclick="window.open('https://wa.me/7292592585?text=Hola%2C%20me%20interesa%20cotizar%20un%20sistema%20para%20mi%20industria', '_blank')" class="btn btn-primary">Cotiza.</button> 
        </div>
      </div>
    </div>

    <div class="col-lg-4 mb-4">
      <div class="card h-100 text-center shadow-sm">
        <div class="card-body d-flex flex-column">
          <h4 class="card-subtitle mb-2 text-muted">Servicio</h4>
 
          <div class="text-start benefits-list">
             
            <ul>
              <li>¿Necesitas asistencia técnica para una situación específica? Ofrecemos soporte especializado bajo demanda para resolver cualquier eventualidad o requerimiento puntual que tus sistemas de seguridad presenten.</li>
            </ul>
          </div>
          <p class="text-muted mt-auto mb-3"><small>*Aplican terminos y condiciones</small></p>
          <button  onclick="window.open('https://wa.me/7292592585?text=Hola%2C%20me%20interesa%20cotizar%20un%20sistema%20para%20mi%20industria', '_blank')" class="btn btn-primary">Cotiza.</button> 
        </div>
      </div>
    </div>
  </div>
</div>


<app-boton-whats></app-boton-whats>