<app-carrusel></app-carrusel>
<section class="gris">
    <h1 class="sectionIcn">No hay enemigo pequeño.</h1>
    <h2 class="subtitulo mb-3" >Quitamos esas piedritas en el zapato, que si las juntas son GRANDES retos.</h2>
    <div class="grid-section  mt-5">
        <div class="grid-container">

            <div class="grid-item" style="background-image: url('/assets/img/nohay-tiempos-muertos.png');">
            <div class="card-content">
                <h3>Tiempos Tiempos Muertos</h3>
                <p>¿Cuánto te cuestan los 'likes' en redes sociales?</p>
            </div>
            </div>

            <div class="grid-item" style="background-image: url('/assets/img/nohay-accidentes.png');">
            <div class="card-content">
                <h3>Negligencias</h3>
                <p>¿Cuánto te cuesta una incapacidad inesperada?</p>
            </div>
            </div>

            <div class="grid-item" style="background-image: url('/assets/img/nohay-robo.png');">
            <div class="card-content">
                <h3>Robo Hormiga</h3>
                <p>¿Cuánto te cuestan las hojas blancas que no usas?</p>
            </div>
            </div>

            <div class="grid-item" style="background-image: url('/assets/img/nohay-negligencia.png');">
            <div class="card-content">
                <h3>Prevención de accidentes</h3>
                <p>¿Cuánto te cuesta el rebelde de la plantilla?</p>
            </div>
            </div>

            <div class="grid-item" style="background-image: url('/assets/img/nohay-merma.png');">
            <div class="card-content">
                <h3>Merma excesiva</h3>
                <p>Breve descripción del contenido de esta tarjeta.</p>
            </div>
            </div>

            <div class="grid-item" style="background-image: url('/assets/img/nohay-maq-danada.png');">
            <div class="card-content">
                <h3>Daño a maquinaria</h3>
                <p>Breve descripción del contenido de esta tarjeta.</p>
            </div>
            </div>

            <div class="grid-item" style="background-image: url('/assets/img/nohay-prod-danado.png');">
            <div class="card-content">
                <h3>Productos dañados</h3>
                <p>Breve descripción del contenido de esta tarjeta.</p>
            </div>
            </div>

            <div class="grid-item" style="background-image: url('/assets/img/nohay-seguridad.png');">
            <div class="card-content">
                <h3>Seguridad e higiene</h3>
                <p>Breve descripción del contenido de esta tarjeta.</p>
            </div>
            </div>

        </div>
    </div>
</section>
<section class="bnco">
    <h1 class="sectionIcn mb-3">Soluciones.</h1>
    <h2 class="subtitulo mb-3" >Servicios a la medida para tu industria.</h2>
    <div class="grid-section-dos mt-5">
        <div class="grid-container-dos">

            <div class="grid-item-dos" style="background-image: url('/assets/img/soluciones-vigilancia.png');">
            <div class="card-content-dos">
                <h3>VIDEOVIGILANCIA</h3>
                <p>Breve descripción del contenido de esta tarjeta.</p>
                <p class="mt-3">Aprende más →</p>
            </div>
            </div><!--Fin item-->
            <div class="grid-item-dos" style="background-image: url('/assets/img/soluciones-cableado.png');">
            <div class="card-content-dos">
                <h3>Cableado estructurado</h3>
                <p>Breve descripción del contenido de esta tarjeta.</p>
                <p class="mt-3">Aprende más →</p>
            </div>
            </div><!--Fin item-->
            <div class="grid-item-dos" style="background-image: url('/assets/img/soluciones-alarma.png');">
            <div class="card-content-dos">
                <h3>Detección de incendio</h3>
                <p>Breve descripción del contenido de esta tarjeta.</p>
                <p class="mt-3">Aprende más →</p>
            </div>
            </div><!--Fin item-->
            <div class="grid-item-dos" style="background-image: url('/assets/img/soluciones-acceso.png');">
            <div class="card-content-dos">
                <h3>Control de acceso</h3>
                <p>Breve descripción del contenido de esta tarjeta.</p>
                <p class="mt-3">Aprende más →</p>
            </div>
            </div><!--Fin item-->
            <div class="grid-item-dos" style="background-image: url('/assets/img/soluciones-intrusion.png');">
            <div class="card-content-dos">
                <h3>Alarmas contra intrusión</h3>
                <p>Breve descripción del contenido de esta tarjeta.</p>
                <p class="mt-3">Aprende más →</p>
            </div>
            </div><!--Fin item-->
            <div class="grid-item-dos" style="background-image: url('/assets/img/soluciones-polizas.png');">
            <div class="card-content-dos">
                <h3>Pólizas de mantenimiento</h3>
                <p>Breve descripción del contenido de esta tarjeta.</p>
                <p class="mt-3">Aprende más →</p>
            </div>
            </div><!--Fin item-->
        </div>
    </div>
</section>
<section class="gris">
    <h1 class="sectionIcn mb-5">Te ofrecemos:</h1>
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="col-md-3 card-ofrecemos">
                <h3>Productividad.</h3>
                <img class="imgOfrecemos" src="/assets/img/ofrecemos1.jpg" alt="logo Kontrola">
                <p>Recupera la jornada laboral. Los empleados dedican entre el 15% y 25% de su tiempo a redes sociales. Un sistema de supervisión permanente limita distracciones y mejora los tiempos.</p>
                <button class="btn btn-primary">Saber más</button>
            </div>
            <div class="col-md-3 card-ofrecemos">
                <h3>ROI.</h3>
                <img class="imgOfrecemos" src="/assets/img/ofrecemos2.jpg" alt="logo Kontrola">
                <p>Evita el robo hormiga y las pérdidas.
Supervisa tu operación para detectar
pérdidas y mermas.</p>
                <button class="btn btn-primary">Saber más</button>
            </div>
            <div class="col-md-3 card-ofrecemos">
                <h3>Prevención de riesgos.</h3>
                <img class="imgOfrecemos" src="/assets/img/ofrecemos3.jpg" alt="logo Kontrola">
                <p>Salva vidas y bienes. La mayoría de los
accidentes se pueden evitar. La supervisión
constante, los controles de acceso y la
detección de incendios reducen los riesgos
a su mínima expresión.</p>
                <button class="btn btn-primary">Saber más</button>
            </div>
        </div>
    </div>
</section>
<section class="last">
    <div class="row">
        <div class="col"></div>
        <div class="col cta">
            <h2>No solo vendemos sistemas, somos tu mejor opción porque te acompañamos desde la implementación hasta el mantenimiento.</h2>
            <button onclick="window.open('https://wa.me/7292592585?text=Hola%2C%20me%20interesa%20cotizar%20un%20sistema%20para%20mi%20industria', '_blank')"  class="btn btn-primary">Diseñemos tu solución.</button>
            
        </div>
    </div>
</section>