<app-carrusel></app-carrusel>
<app-boton-whats></app-boton-whats>
<section class="gris" id="soluciones bgSoluciones">
    <h1 class=""><img src="/assets/img/icn_vde.png"></h1>
    <h1 class="tituloSection">¿Qué solucionamos?</h1>
    <h2 class="subtituloDos mt-3 mb-3 ps-5 pe-5" >En el Sector Industrial, los <span>riesgos de seguridad </span> que corren las empresas son internos, principalmente
relacionados con áreas de oportunidad en su operación, lo que les genera <span>costos adicionales </span>que, de
uno en uno parecen pequeños, pero que en la suma anual llegan a cifras que asustan.<br>
Entre las <span> incidencias </span>que más nos encontramos están:
</h2>
    
    <div class="grid-sectionXL  mt-4">
        <h1 class="mb-2 subtitulo "><strong></strong> </h1>
        <div class="grid-container">

            <div class="grid-item" style="background-image: url('/assets/img/nohay-tiempos-muertos.png');">
            <div class="card-content">
                <h3>Tiempos Muertos</h3>
                <p>¿Cuánto te costaron esas horas extra innecesarias?</p>
            </div>
            </div>

            <div class="grid-item" style="background-image: url('/assets/img/nohay-accidentes.png');">
            <div class="card-content">
                <h3>Negligencias Operativas</h3>
                <p>¿Cuánto te costó que no lo revisara calidad?</p>
            </div>
            </div>

            <div class="grid-item" style="background-image: url('/assets/img/nohay-robo.png');">
            <div class="card-content">
                <h3>Robo Hormiga</h3>
                <p>¿Cuánto te costaron las piezas que se perdieron?</p>
            </div>
            </div>

            <div class="grid-item" style="background-image: url('/assets/img/nohay-negligencia.png');">
            <div class="card-content">
                <h3>Accidentes de Trabajo </h3>
                <p>¿Cuánto te costó esa incapacidad imprevista?</p>
            </div>
            </div>

            <div class="grid-item" style="background-image: url('/assets/img/nohay-merma.png');">
            <div class="card-content">
                <h3>Merma Excesiva</h3>
                <p>¿Cuánto te costaron todos esos cortes mal hechos?</p>
            </div>
            </div>

            <div class="grid-item" style="background-image: url('/assets/img/nohay-maq-danada.png');">
            <div class="card-content">
                <h3>Daño a Maquinaria</h3>
                <p>¿Cuánto te costó parar la producción?</p>
            </div>
            </div>

            <div class="grid-item" style="background-image: url('/assets/img/nohay-prod-danado.png');">
            <div class="card-content">
                <h3>Daño a Producto Terminado</h3>
                <p> ¿Cuánto te costó retrabajar todo el proceso?</p>
            </div>
            </div>

            <div class="grid-item" style="background-image: url('/assets/img/nohay-seguridad.png');">
            <div class="card-content">
                <h3>Incumplimiento de Normas </h3>
                <p>¿Cuánto te costó esa multa de la STPS?</p>
            </div>
            </div>

        </div>
    </div>
</section>
<section class="bnco bgHacemos" id="servicios">
        <h1 class=""><img src="/assets/img/icn_vde.png"></h1>
    <h1 class="tituloSection">¿Cómo lo hacemos?</h1>
        <h2 class="subtituloDos mt-3 mb-3 ps-5 pe-5" >
            Para que realmente podamos crear un antes y un después, nos <span>adentramos en su operación</span>, para
            conocer sus áreas críticas, sus riesgos, sus procesos, y sus alcances, para así poder diseñar una
            buena propuesta de <span>mejora</span>.<br>
            Estas Soluciones las logramos mediante la correcta implementación de una combinación de diversos
            <span>Sistemas de Seguridad Electrónicos</span>, entre los que están:
        </h2>
    <div class="grid-sectionXL  mt-4">
        <div class="grid-container-dos">

            <div class="grid-item-dos" style="background-image: url('/assets/img/soluciones-vigilancia.png');">
            <div class="card-content-dos">
                <h3>Videovigilancia</h3>
                <p> Conoce lo que pasa en tu operación</p>
                <a (click)="openVideoPopUp($event)"><p class="mt-3 btncard">Aprende más →</p></a>
            </div>
            </div><!--Fin item-->
            <div class="grid-item-dos" style="background-image: url('/assets/img/acceso-peatonal.png');">
            <div class="card-content-dos">
                <h3>Acceso Peatonal</h3>
                <p>Sólo personal autorizado y calificado</p>
                <a (click)="openAccesoPopUp($event)"><p class="mt-3 btncard">Aprende más →</p></a>
            </div>
            </div><!--Fin item-->
            <div class="grid-item-dos" style="background-image: url('/assets/img/soluciones-acceso.png');">
            <div class="card-content-dos">
                <h3>Acceso Vehicular</h3>
                <p>Limita el acceso a tu perímetro</p>
                <a (click)="openAccesoVPopUp($event)"><p class="mt-3 btncard">Aprende más →</p></a>
            </div>
            </div><!--Fin item-->
            <div class="grid-item-dos" style="background-image: url('/assets/img/biometrico.png');">
            <div class="card-content-dos">
                <h3>Tiempo y Asistencia</h3>
                <p>Obtén turnos completos de trabajo</p>
                <a (click)="openMntoPopUp($event)"><p class="mt-3 btncard">Aprende más →</p></a>
            </div>
            </div><!--Fin item-->
            <!--<div class="grid-item-dos" style="background-image: url('/assets/img/soluciones-intrusion.png');">
            <div class="card-content-dos">
                <h3>Alarmas contra intrusión</h3>
                <p>Tu primera línea de defensa.</p>
                <a (click)="openAlarmaPopUp($event)"><p class="mt-3">Aprende más →</p></a>
            </div>
            </div>Fin item-->

            <div class="grid-item-dos" style="background-image: url('/assets/img/soluciones-alarma.png');">
            <div class="card-content-dos">
                <h3>Detección de Incendios</h3>
                <p>Prevén tragedias.</p>
                <a (click)="openIncendioPopUp($event)"><p class="mt-3 btncard">Aprende más →</p></a>
            </div>
            </div><!--Fin item-->            
            <div class="grid-item-dos" style="background-image: url('/assets/img/soluciones-cableado.png');">
            <div class="card-content-dos">
                <h3>Cableado Estructurado</h3>
                <p>Conecta tu operación</p>
                <a (click)="openCableadoPopUp($event)"><p class="mt-3 btncard">Aprende más →</p></a>
            </div>
            </div><!--Fin item-->
        </div>
    </div>
</section>
<section class="gris" id="mantenemos">
        <h1 class="sectionIcn mb-3">Pólizas de Mantenimiento</h1>
        <h2 class="subtitulo mt-3 mb-3 ps-5 pe-5" >Identificar las áreas de oportunidad, diseñar la Solución adecuada, y realizar la correcta
        implementación, son el inicio del cambio, pero para que la inversión de recursos realmente valga la
        pena, debemos asegurarnos de que los Sistemas se mantengan funcionando correctamente, y
        también que los usuarios, y responsables, los estén aprovechando al máximo.<br><br>
        Para cubrir estos 2 puntos apoyamos a nuestros clientes mediante nuestras Pólizas de Servicio y
        Mantenimiento.</h2>
        <div class="container">
            <div class="row" style=" margin: 0 auto; width: 80%; ">
                <div class="col"></div>
                <div class="col-md-6 p-2 cardSM" ><img src="/assets/img/polizas.png"></div>
                <div class="col"></div>                
            </div>
        </div>
        
</section>
<section class="bnco" id="servicios">
        <h1 class="sectionIcn mb-3">Proyectos</h1>
        <div class="container">
            <div class="row">
                <div class="col proyectCard"><img src="/assets/img/inge.png"></div>
                <div class="col proyectCard"><img src="/assets/img/imple.png"></div>
                <div class="col proyectCard"><img src="/assets/img/reac.png"></div>
            </div>
            <div class="row">
                <div class="col proyectCard"><img src="/assets/img/ampli.jpg"></div>
                <div class="col proyectCard"><img src="/assets/img/moder.jpg"></div>

            </div>
          <!-- <table class="table">
            <tbody>
                <tr>            
                    <td>Ingeniería</td>
                    <td>Diseñamos la Solución que necesitas</td>
                    <td>LP</td>
                </tr>
                <tr>   
                    <td>Implementación</td>
                    <td>Te entregamos la Solución llave en mano</td>
                    <td>LP</td>
                </tr>
                <tr>
                    <td>Ampliación</td>
                    <td>Cubrimos tus puntos vulnerables</td>
                    <td>LP</td>
                </tr>
                <tr>            
                    <td>Modernización</td>
                    <td>Te mantenemos a la vanguardia</td>
                    <td>LP</td>
                </tr>
                <tr>   
                    <td>Reactivación</td>
                    <td>Echamos a andar el sistema apagado</td>
                    <td>LP</td>
                </tr>
                <tr>
                    <td>Integración</td>
                    <td>Los sistemas se acoplan a tu operación</td>
                    <td>LP</td>
                </tr>
            </tbody>
            </table>--> 
        </div>   
</section>
<section class="gris" id="clientes">
        <h1 class="sectionIcn mb-3">Principales Clientes</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-2 imgLogoC"  style="background-image: url('/assets/img/logo11.png');"></div>
                <div class="col-md-2 imgLogoC"  style="background-image: url('/assets/img/logo2.png');"></div>
                <div class="col-md-2 imgLogoC"  style="background-image: url('/assets/img/logo3.png');"></div>
                <div class="col-md-2 imgLogoC"  style="background-image: url('/assets/img/logo4.png');"></div>
                <div class="col-md-2 imgLogoC"  style="background-image: url('/assets/img/logo5.png');"></div>
                <div class="col-md-2 imgLogoC"  style="background-image: url('/assets/img/logo6.png');"></div>
            </div>
            <div class="row">
                <div class="col-md-2 imgLogoC"  style="background-image: url('/assets/img/logo7.png');"></div>
                <div class="col-md-2 imgLogoC"  style="background-image: url('/assets/img/logo8.png');"></div>
                <div class="col-md-2 imgLogoC"  style="background-image: url('/assets/img/logo9.png');"></div>
                <div class="col-md-2 imgLogoC"  style="background-image: url('/assets/img/logo10.png');"></div>
                <div class="col-md-2 imgLogoC"  style="background-image: url('/assets/img/logo1.png');"></div>
                <div class="col-md-2 imgLogoC"  style="background-image: url('/assets/img/crown.png');"></div>
            </div>
        </div>
</section>
<!--<section class="gris">
    <h1 class="sectionIcn mb-5">Te ofrecemos:</h1>
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="col-md-3 card-ofrecemos">
                <h3>Productividad.</h3>
                <img class="imgOfrecemos" src="/assets/img/ofrecemos1.jpg" alt="logo Kontrola">
                <p>Recupera la jornada laboral. Los empleados dedican entre el 15% y 25% de su tiempo a redes sociales. Un sistema de supervisión permanente limita distracciones y mejora los tiempos.</p>
                <button class="btn btn-primary" (click)="openSolucionesPopUp($event)">Saber más</button>
            </div>
            <div class="col-md-3 card-ofrecemos">
                <h3>ROI.</h3>
                <img class="imgOfrecemos" src="/assets/img/ofrecemos2.jpg" alt="logo Kontrola">
                <p>Evita el robo hormiga y las pérdidas.
Supervisa tu operación para detectar
pérdidas y mermas.</p>
                <button class="btn btn-primary" (click)="openSolucionesPopUp($event)">Saber más</button>
            </div>
            <div class="col-md-3 card-ofrecemos">
                <h3>Prevención de riesgos.</h3>
                <img class="imgOfrecemos" src="/assets/img/ofrecemos3.jpg" alt="logo Kontrola">
                <p>Salva vidas y bienes. La mayoría de los
accidentes se pueden evitar. La supervisión
constante, los controles de acceso y la
detección de incendios reducen los riesgos
a su mínima expresión.</p>
                <button class="btn btn-primary" (click)="openSolucionesPopUp($event)">Saber más</button>
            </div>
        </div>
    </div>
</section>
<section class="last">
    <div class="row">
        <div class="col"></div>
        <div class="col cta">
            <h2>No solo vendemos sistemas, somos tu mejor opción porque te acompañamos desde la implementación hasta el mantenimiento.</h2>
            <button onclick="window.open('https://wa.me/7292592585?text=Hola%2C%20me%20interesa%20cotizar%20un%20sistema%20para%20mi%20industria', '_blank')"  class="btn btn-primary">Diseñemos tu solución.</button>
            
        </div>
    </div>
</section>-->