<div class="carousel-container">
  <!--<div class="slides-wrapper">-->
  <div class="slides-wrapper" >
    <div *ngFor="let slide of slides" class="slide" [ngStyle]="{'transform': 'translateX(-' + currentIndex * 100 + '%)'}" [style.backgroundImage]="'url(' + slide.bgImage + ')'">
      <div class="slide-column left" >
        <div class="left-content">
          <img [src]="slide.logo" alt="Logo" class="slide-logo">
          <h1>{{ slide.title }}</h1>
        </div>
      </div>

      <div class="slide-column right">
        <h2>{{ slide.subtitle }}</h2>
      </div>

    </div>
  </div>
</div>

