/* Estilo del componente con altura de carrusel y velocidad de animación */
:host {
  --carousel-height: 500px;
  --animation-speed: 0.6s;
}
.nav-link { color: rgb(255 255 255)!important;}
/* Contenedor principal del carrusel */
.carousel-container {
  width: 100%;
  height: var(--carousel-height);
  overflow: hidden; /* Esencial para ocultar los otros slides */
  position: relative;
  /*border-radius: 10px;*/
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

/* Wrapper que contiene todos los slides y se mueve */
.slides-wrapper {
  display: flex;
  height: 100%;
  transition: transform var(--animation-speed) ease-in-out;
}

/* Estilo de un slide individual */
.slide {
  flex-shrink: 0; /* Evita que los slides se encojan */
  width: 100%;
  height: 100%;
  display: flex;
  background-position: right center;
background-size: cover;
}

/* Estilo común para las columnas izquierda y derecha */
.slide-column {
  flex: 1; /* Cada columna ocupa el 50% del espacio */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2rem;
}

/* Estilos específicos para la columna izquierda */
.slide-column.left {
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;

}
.noView{color: transparent; text-shadow: none;}
/* Superposición oscura para que el texto sea más legible en la columna izquierda */
.slide-column.left::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
 /* background-color: rgba(0, 0, 0, 0.5);*/
}
/* Contenido de la columna izquierda */
.slide-column.left .left-content {
  position: relative;
  z-index: 2;
  text-align: center;
}
.slide-logo {
  width: 450px;
  height: auto;
  margin-bottom: 1.8rem;
}
.container.txtContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 5%;
}
.row.txtos {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.row.txtos h1 {
    padding-left: 4%;
    font-size: 2.2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.553);
    color: white;
}
.row.txtos span {
    padding-left: 3%;
    font-size: 2.0rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.553);
    color: white;
    font-weight: 300;
    background-color: #1c437784;
    padding: .5% 3%;
    border-radius: 7px;
    margin-left: 5px;
}
.slide-column.left h1 {
    font-size: 2.2rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.553);
    text-align: left;
}
/* Estilos específicos para la columna derecha */
.slide-column.right {
  background-color: transparent;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding-bottom: 4.5%;
  padding-left: 0;
}
.slide-column.right h2 {
    font-size: 1.8rem;
    font-style: italic;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 83%);
    text-align: left;
    max-width: 100%;
    background-color: #1c437754;
    padding: .6% 0%;
    border-radius: 6px;
}
.row.down { height: 26px;}
/* --- DISEÑO RESPONSIVO --- */
@media (max-width: 768px) {
  .row.txtos h1 { padding-left: 4%; font-size: 1.3rem;}
  .row.txtos span{ padding-left: 1%; font-size: 1.2rem;}
  .header-padding { height: 75px; }
  .slide-logo {
    width: 300px;
    height: auto;
    margin-bottom: 1.2rem;
    padding-top: 30px;
  }
  /* Ajuste de la altura del carrusel en pantallas pequeñas */
  :host {
    --carousel-height: auto;
  }

  /* Apila las columnas verticalmente en pantallas pequeñas */
  

  /* Altura mínima para cada sección en móvil */
  .slide-column {
    min-height: auto;
    /*min-height: 180px;*/
  }
  
  .slide-column.left .slide-logo {width: 130px;}
    /* Ajuste del tamaño de la fuente para h1 en móvil */
    .slide-column.left h1 {
      font-size: 1.1rem;
    }
  .slide-column.right {
      background-color: transparent;
      display: flex;
      align-items: center;}
    /* Ajuste del tamaño de la fuente para h2 en móvil */
    .slide-column.right h2 {
      font-size: 1.1rem;
      max-width: 90%;
  }

  /*NUEVO */
  .slide-column.left { display: flex;justify-content: flex-start;}
  .slide { flex-direction: column; background-size:cover ; background-repeat: no-repeat; background-position: bottom; }
  .carousel-container { background-color: #1c4377; }

}


@media (max-width: 600px) {
  .slide-column.left { display: flex!important; justify-content: flex-start!important;}
  .slide-column.right h2 {
        font-size: 1.1rem;
        max-width: 90%;
        text-align: left;
  }
  .slide-column.right {
        background-color: transparent;
        display: flex;
        justify-content: flex-start;
        padding: 1px;
        text-align: right;
    }
}
