<div class="row justify-content-center mt-5 mb-5 pe-0 ps-0 ms-0 me-0" >
      <div class="col-lg-8">
        <div class="card contact-form-card p-4 p-md-5">
            <div class="card-header-custom position-relative">
               <img class="ms-3 logoContacto" src="/assets/img/logoB.svg" alt="logo Kontrola">
          </div>

          <!--INICIO-->
           <div class="card contact-card">
                <div class="card-body card-body-custom">
                    <h4 class="mb-0 text-dark">CONTÁCTANOS</h4>
                    <p class="text-muted mb-4">Diseñemos e implementemos la solución que tu industria necesita.</p>
                    <a href="tel:7292592585" class="text-decoration-none text-dark"><h5>729 259 2585</h5></a>
                    <a href="mailto:ana.garcia@tecfuturas.com" class="text-decoration-none text-dark"><h5>soluciones&#64;kontrola.mx</h5></a>
                    <a href="https://wa.me/525512345678" class="btn btn-success" target="_blank"> Enviar WhatsApp</a>
                </div>
            </div>
          <!--FIN-->
        </div>
      </div>
    </div>
