<footer>
<div class="row">
    <div class="col-md-5 logo-pie"><img src="/assets/img/logoK.svg" alt="logo Kontrola"></div>
    <div class="col-md-7 contacto-pie">
        <div class="row pata">
            <div class="col-md-3">
                <ul>
                    <li class="pie-titulo">Sede</li>
                    <li class="ps-3 mt-2 txtPie">Toluca</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li class="pie-titulo">Contacto</li>
                    <li class="ps-3 mt-2 txtPie"><img src="/assets/img/icn-whatsapp.svg" alt="logo Kontrola">
                       <a onclick="window.open('https://wa.me/7292592585?text=Hola%2C%20me%20interesa%20cotizar%20un%20sistema%20para%20mi%20industria', '_blank')">729 259 2585</a> 
                    </li>
                    <li class="ps-3 mt-2 txtPie"><img src="/assets/img/icn-email.svg" alt="logo Kontrola">soluciones&#64;kontrola.mx</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li class="pie-titulo">Social</li>
                    <li class="ps-3 mt-2 txtPie"><img src="/assets/img/icn-fb.svg" alt="logo Kontrola">Facebook</li>
                    <li class="ps-3 mt-2 txtPie"><img src="/assets/img/icn-x.svg" alt="logo Kontrola">Instagram</li>
                    <li class="ps-3 mt-2 txtPie"><img src="/assets/img/icn-insta.svg" alt="logo Kontrola">X</li>
                </ul>
            </div>
        </div>
    </div>
</div>
</footer>
