<footer>
<div class="row">
    <div class="col-md-5 logo-pie"><img src="/assets/img/logoK.svg" alt="logo Kontrola"></div>
    <div class="col-md-7 contacto-pie pe-5">
        <div class="row pata">
            <div class="col-md-3">
                <ul>
                    <li class="pie-titulo">Cede</li>
                    <li class="ps-3 mt-2 txtPie">Toluca</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li class="pie-titulo">Contacto</li>
                    <li class="ps-3 mt-2 txtPie"><img src="/assets/img/icn-whatsapp.svg" alt="logo Kontrola">729 259 2585</li>
                    <li class="ps-3 mt-2 txtPie"><img src="/assets/img/icn-email.svg" alt="logo Kontrola">soluciones&#64;kontrola.mx</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li class="pie-titulo">Social</li>
                    <li class="ps-3 mt-2 txtPie"><img src="/assets/img/icn-fb.svg" alt="logo Kontrola">Facebook</li>
                    <li class="ps-3 mt-2 txtPie"><img src="/assets/img/icn-x.svg" alt="logo Kontrola">Instagram</li>
                    <li class="ps-3 mt-2 txtPie"><img src="/assets/img/icn-insta.svg" alt="logo Kontrola">X</li>
                </ul>
            </div>
        </div>
    </div>
</div>
</footer>
