footer {
    min-height: 300px;
        background-image: url(/assets/img/pie.jpg);
    background-position: center top;
    background-size: 100% auto;
    background-repeat: no-repeat;
}
footer .row {
    padding-right: 0;
    padding-left: 0;
    margin: 0 auto;
}
.logo-pie
 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    /* width: 50px; */
}
.logo-pie img{
    width: 250px; 
}
.contacto-pie .row .col {
    display: flex;
    justify-content: flex-end;
}
.contacto-pie { align-content: center; padding-right: 3rem}
.pata {
    color: white;
}
.pata ul{
    list-style: none;
}
li.pie-titulo {
    color: var(--color-contraste-nja);
}
.txtPie{
    font-size: .8em;
}
.txtPie img {
    width: 20px;
    margin-right: 8px;
    height: 20px;
}
@media (max-width: 768px) {
    .logo-pie img {  width: 170px;}
    footer{ background-size: 100% 100%; padding-top: 6%;}
    .contacto-pie { align-content: center; padding-right: .1rem}
    ul {padding-left: .2rem;}
    .txtPie {  font-size: .6em;}
    .txtPie img {  width: 10px;}
}
@media (max-width: 600px) {
    footer {  background-size: 100% 100%;}
    .logo-pie img { width: 150px;}
    .txtPie { font-size: .76em;}
    li.pie-titulo {font-size: .85em;}
    .txtPie img {  width: 15px;}
}

